data/plotsnfigs/AA_Exchanges_HvSC1.svg
data/plotsnfigs/AA_Exchanges_HvSC2.svg
data/plotsnfigs/Individual_growthrates_heatmap_dropin892.svg
data/plotsnfigs/optimize_tradeoff_old/Sugar_Exchanges_HvSC1.svg
data/plotsnfigs/optimize_tradeoff_old/Sugar_Exchanges_HvSC2.svg
data/plotsnfigs/optimize_tradeoff_old/Vitamin_Exchanges_HvSC1.svg
data/plotsnfigs/optimize_tradeoff_old/Vitamin_Exchanges_HvSC2.svg
data/plotsnfigs/optimize_tradeoff_old/Vitamine_Exchanges_HvSC1.svg
data/plotsnfigs/Niche_Requirements_metaboliteclass.svg
data/plotsnfigs/Venn_AF7_TSB_base.png
data/plotsnfigs/Vitamin_Exchanges_HvSC2.svg
data/plotsnfigs/Vitamins_Exchanges_HvSC1.svg
data/plotsnfigs/metabolite_exchanges/AA_Exchanges_HvSC1.svg
data/plotsnfigs/metabolite_exchanges/AA_Exchanges_HvSC2.svg
data/plotsnfigs/metabolite_exchanges/Cross-feeding_HvSC1_99flux.png
data/plotsnfigs/metabolite_exchanges/Cross-feeding_HvSC1_99flux.svg
data/plotsnfigs/metabolite_exchanges/Cross-feeding_HvSC2_99flux.png
data/plotsnfigs/metabolite_exchanges/Cross-feeding_HvSC2_99flux.svg
data/plotsnfigs/metabolite_exchanges/Sugar_Exchanges_HvSC1.svg
data/plotsnfigs/metabolite_exchanges/Sugar_Exchanges_HvSC2.svg
data/plotsnfigs/metabolite_exchanges/Vitamin_Exchanges_HvSC1.svg
data/plotsnfigs/metabolite_exchanges/Vitamin_Exchanges_HvSC2.svg
data/plotsnfigs/optimize_tradeoff_old/AA_Exchanges_HvSC1.svg
data/plotsnfigs/optimize_tradeoff_old/AA_Exchanges_HvSC2.svg
data/plotsnfigs/Sugar_Exchanges_HvSC1.svg
data/plotsnfigs/Sugar_Exchanges_HvSC2.svg
data/plotsnfigs/optimize_tradeoff_old/Combined_fluxbalance_heatmap.svg
data/plotsnfigs/optimize_tradeoff_old/Combined_nrxn_balance_heatmap.svg
data/plotsnfigs/optimize_tradeoff_old/Combined_Number_coconsumption_heatmap.svg
data/plotsnfigs/optimize_tradeoff_old/Combined_Numbercoconsumptions_heatmap.svg
data/plotsnfigs/optimize_tradeoff_old/Combined_Numberexcg_heatmap.svg
data/plotsnfigs/optimize_tradeoff_old/Combined_numbermets_balance_heatmap.svg
data/plotsnfigs/optimize_tradeoff_old/Combined_sumflux_balance_heatmap.svg
data/plotsnfigs/Combined_Numberexcg_heatmap.svg
data/plotsnfigs/Combined_numbermet_balance_heatmap.svg
data/plotsnfigs/Combined_sumflux_balance_heatmap.svg
